In [60]:
x = """87.05/0.01
89.11/0.10
-
-
89.03/0.16"""

In [61]:
y = '$' + x.replace('/', '\pm ').replace('\n', '$ & $') + '$'
print(y)

$87.05\pm 0.01$ & $89.11\pm 0.10$ & $-$ & $-$ & $89.03\pm 0.16$

$91.41\pm 0.16$ & $92.42\pm 0.12$ & $-$ & $-$ & $92.65\pm 0.04$

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('res_cifar.csv', header=None, sep='\t')

In [19]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,84.63333333,84.79333333,85.05666667,83.03333333,85.01,77.52666667,76.46,76.95666667,74.13,73.57333333,75.58,75.08,69.4,69.81,65.67,47.67666667,46.95,34.49333333,33.60666667,26.23666667
1,84.24666667,84.50333333,85.52666667,84.34,84.6,69.53,64.24,63.19,58.31333333,51.13666667,79.82,64.39,48.44,43,37.8,64.33666667,50.11666667,36.94666667,30.67333333,15.08666667
2,-,79.23/0.30,58.04/5.47,51.84/0.92,17.12/0.97,-,.../... 62.98/0.81,.../...,.../...,-,71.9/0.14,55.38/3.63,51.15/0.64,32.61/1.14,-,47.69/0.63,32.91/6.95,27.38/2.44,16.46/1.77,NaN
3,-,78.74/0.56,54.12/0.51,46.24/0.41,21.63/1.44,-,.../...,46.35/0.1,.../...,.../...,-,16.19/0.99,44.60/0.19,35.87/1.11,20.66/5.74,-,41.45/9.93,34.27/2.55,27.74/8.23,12.56/2.01
4,86.82,71.36,67.95666667,52.78333333,27.39,70.11666667,58.33666667,30.02666667,24.68,15.81333333,78.8,68.92,50.38,21.19,13.78,55.26666667,36.78666667,32.69,21.12,13.25

In [22]:
for i in range(1, 20):
    print(list(df[i]))

['84.79333333', '84.50333333', '79.23/0.30', '78.74/0.56', '71.36']
['85.05666667', '85.52666667', '58.04/5.47', '54.12/0.51', '67.95666667']
['83.03333333', '84.34', '51.84/0.92', '46.24/0.41', '52.78333333']
['85.01', '84.6', '17.12/0.97', '21.63/1.44', '27.39']
['77.52666667', '69.53', '-', '-', '70.11666667']
['76.46', '64.24', '.../... 62.98/0.81', '.../...', '58.33666667']
['76.95666667', '63.19', '.../...', '46.35/0.1', '30.02666667']
['74.13', '58.31333333', '.../...', '.../...', '24.68']
['73.57333333', '51.13666667', '-', '.../...', '15.81333333']
['75.58', '79.82', '71.9/0.14', '-', '78.8']
['75.08', '64.39', '55.38/3.63', '16.19/0.99', '68.92']
['69.4', '48.44', '51.15/0.64', '44.60/0.19', '50.38']
['69.81', '43', '32.61/1.14', '35.87/1.11', '21.19']
['65.67', '37.8', '-', '20.66/5.74', '13.78']
['47.67666667', '64.33666667', '47.69/0.63', '-', '55.26666667']
['46.95', '50.11666667', '32.91/6.95', '41.45/9.93', '36.78666667']
['34.49333333', '36.94666667', '27.38/2.44', '34.27/2.55', '32.69']
['33.60666667', '30.67333333', '16.46/1.77', '27.74/8.23', '21.12']
['26.23666667', '15.08666667', nan, '12.56/2.01', '13.25']